<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerPanel">
	<div class="header fixed">
		<div class="logo pull-left"><a href="https://www.antofernandez.com" target="_blank"><img src="http://www.antofernandez.com/logos/anto-fernandez-blanco.svg" width="30"> Anto Fernandez</a>
		</div>
		<a class="pull-left" href="https://www.destacaimagen.com?utm_source=Ejemplos%20AntoFernandez" target="_blank">Mi agencia : Destaca Imagen</a>
		<ul class="pull-right">
			<li><a href="https://www.antofernandez.com?utm_source=Ejemplos%20AntoFernandez" target="_blank">Mi blog</a></li>
			<li><a href="https://www.antofernandez.com/contacto?utm_source=Ejemplos%20AntoFernandez" target="_blank"><i class="fa fa-envelope"></i> Contacto</a></li>
			<li><a href="https://twitter.com/antofndez" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://www.linkedin.com/in/anto-fern%C3%A1ndez-clement-4393911b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://www.facebook.com/antofernandezweb/" target="_blank"><i class="fa fa-facebook"></i></a></li>
		</ul>
	
	</div>
	
</div>
</html>