<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header fixed" th:fragment="footerPanel">

	<div class="logoFooter pull-left">
		<a href="#" target="_blank"><img
			src="http://www.antofernandez.com/logos/anto-fernandez-blanco.svg"
			width="30"> Saul Silva</a>
	</div>
	<a class="pull-left"
		href="#"
		target="_blank">Catminer : Sede destacada</a>
	<ul class="pull-right">
		<li><a
			href="#"
			target="_blank"><i class="fa fa-envelope"></i> Contacto</a></li>
		<li><a href="#" target="_blank"><i
				class="fa fa-twitter"></i></a></li>
		<li><a
			href="#"
			target="_blank"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="#"
			target="_blank"><i class="fa fa-facebook"></i></a></li>
	</ul>

</div>
</html>