<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
<section>
		<header id="#header">
			<a href="#" id="menu_on">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<div class="img-logo">
				
			</div>
			<div class="usuario"></div>
		</header>
		<nav>	
			<ul>
				<li><a class="panelUrl" href="./panel/">Panel de Control</a></li>
				<li><a class="mantenimientoUrl" href="./panel/mantenimiento/">Mantenimientos</a></li>
				<li><a class="inscripcionesUrl" href="./inscripciones/">Inscripciones</a></li>
				<li><a class="pagosUrl" href="./pagos/">Pagos</a></li>
			</ul>
		</nav>
	</section>
</div>
</html>