<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
<section>
		<header id="#header">
			<a href="#" id="menu_on">
				<span></span>
				<span></span>
				<span></span>
			</a>
			<div class="img-logo">
				
			</div>
			<div class="usuario"></div>
		</header>
		<nav>	
			<ul>
				<li><a href="./panel">Panel de Control</a></li>
				<li><a href="./mantenimiento">Mantenimientos</a></li>
				<li><a href="./inscripciones">Inscripciones</a></li>
				<li><a href="./pagos">Pagos</a></li>
			</ul>
		</nav>
	</section>
</div>
</html>