<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">

	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">Panel de Control</h1>
			<h2 style="text-align: center;">
				Has accedido al <strong>Sistema de Información de CATMINER</strong>
			</h2>

		</div>
	</div>
	<br/><br/>
	<!-- /. ROW  -->
	<div class="row">

		<div class="col-md-4">
			<div class="main-box mb-pink">
				<a class="mantenimientoPanel" href="./mantenimiento"> <i class="fa fa-tasks fa-5x"></i>
					<h5>Mantenimientos</h5>
				</a>
			</div>
		</div>




		<div class="col-md-4">
			<div class="main-box mb-dull">
				<a class="inscripcionesPanel" href="./inscripciones"> <i class="fa fa-users fa-5x"></i>
					<h5>Inscripciones</h5>
				</a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="main-box mb-red">
				<a class="pagosPanel" href="./pagos"> <i class="fa fa-money fa-5x"></i>
					<h5>Pagos</h5>
				</a>
			</div>
		</div>


	</div>

</div>

<div th:fragment="javascript">
		<script type="text/javascript"
			th:src="@{/js/panel.js}"></script>
		
</div>