<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">

	<div class="row">
		<div class="col-md-12">
			<h1 class="page-head-line">Mantenimiento</h1>
			

		</div>
	</div>
	<br/><br/>
	<!-- /. ROW  -->
	<div class="row">

		<div class="col-md-4">
			<div class="main-box mb-blue">
				<a href="student.php"> <i class="fa fa-balance-scale fa-5x"></i>
					<h5>Sede</h5>
				</a>
			</div>
		</div>




		<div class="col-md-4">
			<div class="main-box mb-yellow">
				<a href="./banco"> <i class="fa fa-university fa-5x"></i>
					<h5>Banco</h5>
				</a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="main-box mb-red">
				<a href="report.php"> <i class="fa fa-graduation-cap fa-5x"></i>
					<h5>Carrera</h5>
				</a>
			</div>
		</div>
	</div>
	
	<div class="row">

		<div class="col-md-4">
			<div class="main-box mb-red">
				<a href="student.php"> <i class="fa fa-truck fa-5x"></i>
					<h5>Tipo Carrera</h5>
				</a>
			</div>
		</div>




		<div class="col-md-4">
			<div class="main-box mb-green">
				<a href="fees.php"> <i class="fa fa-credit-card  fa-5x"></i>
					<h5>Tipo Pago</h5>
				</a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="main-box mb-dull">
				<a href="report.php"> <i class="fa fa-cc-visa fa-5x"></i>
					<h5>Configuracion Pagos</h5>
				</a>
			</div>
		</div> 


	</div>
	<div class="pull-right">
	<p class="btn btn-primary "> <a href="./"><i class="fa fa-desktop"></i></a>Panel de control</p>
	</div>
</div>
<div th:fragment="javascript">
		<script type="text/javascript"
			th:src="@{js/app.js}"></script>
		
</div>